@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500&family=Noto+Sans+JP:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0; margin: 0;
    font-family: 'Mukta', sans-serif;
}

body {
    background-color: $background--clr;
}

h1, h2 {
    color: $primary--clr;
    font-size: 4rem;
    text-align: center;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-row {
    display: flex;
    flex-direction: row;
}

.game-cell {
    --initial-size: 300px;
    font-size: 3rem;
    color: $text--clr;
    width: $cell-size;
    height: $cell-size;
    margin: .5em;
    background-color: rgba($accent--clr, .2);
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 2s ease-in-out;
}